.left-nav {
  flex: 2;
  height: 100%;
  background-color: #0d1117;
  color: #fff;
}
.left-nav .ul-title {
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}
.left-nav ul {
  user-select: none;
}
.left-nav ul a li {
  display: flex;
  height: 60px;
  color: #8d8d94;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  justify-content: center;
}
.left-nav ul a li svg {
  width: 30px;
  height: 100%;
}
.left-nav ul a li span {
  width: 80px;
}
.right-wrapper {
  flex: 10;
  height: 100%;
  background-color: #010409;
  display: grid;
  grid-template-rows: 80px auto;
  padding-left: 30px;
  padding-right: 50px;
}
